<!DOCTYPE html>
<html>
<head>
    <title>Productos en Tiempo Real</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/realTimeProducts.js" defer></script>
</head>
<body>
    <h1>Productos en Tiempo Real</h1>
    <ul id="product-list">
        {{#each products}}
        <li>
            {{this.title}} - ${{this.price}}
            <button onclick="deleteProduct({{this.id}})">Quitar</button>
        </li>
        {{/each}}
    </ul>
    <button onclick="deleteAllProducts()">Eliminar Todo</button>
    <form onsubmit="addProduct(event)">
        <input type="text" id="title" placeholder="Nombre del Producto" required>
        <input type="number" id="price" placeholder="Precio" required>
        <button type="submit">Agregar Producto</button>
    </form>
</body>
</html>


